*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
    
}
/*---------------------------------------------------------------------------------------------*/

#primeira{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: black;
    justify-content: center;
    background-image: url('https://s3.1app.com.br/master/project_5945/5eEsy3Ca9FXh06oK7e7qvnzT71DkOdL1.jpg');
    background-size: contain;
}

#mensagemNaoEncontrado{
    color: white;
    text-align: center; 
    font-size: 5vw;

}

#cabeca{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12vh;
    background-image: url('https://tm.ibxk.com.br/2016/02/15/15191853192732.jpg?ims=1280x480');
    background-size: cover;
    border:1px solid rgb(0, 255, 229);
}

#lojaLink{
    float: left;
    height: 100%;
    padding-right: 27vw;
}

#logoacabeca{
    height: 100%;
}

#pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
}

#caixa-pesquisa {
    display: flex;
    margin-left: 1.6vw;
    margin-right: 15vw;

    padding: 1vh;
    border-radius: 1vh;
    
    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #110c5e), color-stop(56%, #1c9fff), to(#cbf6ff));
    background: -o-linear-gradient(60deg, #110c5e 5%, #1c9fff 56%, #cbf6ff);

    background: linear-gradient(30deg, #110c5e 5%, #1c9fff 66%, #cbf6ff);
    background-size: 100% 100%; 
}

#texto-pesquisa {
    border-radius: 1vh;
    width: 100%;
    font-size: 2vh;
    color: black;
}

input[type="text"] {
    padding-left: 10px;
}


#lupa {
    border: none;
    background: none;
    padding: 0; 
    cursor: pointer;
}

#caixaLogin{
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    width: 10vw;
    text-wrap: nowrap;
}

p{
    font-size: 1.6vh; 
    color: white;
}

#bemVindo{
    color: white;
}

#botao-login{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: white;
    height: 50%;
    font-size: 3vh;
    padding: 1vh;
    border:1px solid #1c9fff;
    border-radius: .6vh;

    z-index: 2;
    cursor: pointer;

    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #110c5e), color-stop(56%, #1c9fff), to(#cbf6ff));
    background: -o-linear-gradient(60deg, #110c5e 5%, #1c9fff 56%, #cbf6ff);

    background: linear-gradient(30deg, #110c5e 5%, #1c9fff 66%, #cbf6ff);
    background-size: 100% 100%;
}

#botao-login:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px 10px #029aff86;
}

.botao{
    text-decoration: none;
    text-align: center ;
    font-size: 3vh;
    margin-top: 1.6vh;
    padding: 0.3vh;
    color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #110c5e), color-stop(56%, #1c9fff), to(#cbf6ff));
    background: -o-linear-gradient(60deg, #110c5e 5%, #1c9fff 56%, #cbf6ff);

    background: linear-gradient(30deg, #110c5e 5%, #1c9fff 66%, #cbf6ff);
    background-size: 100% 100%; 
}

#retratil{
    border-radius: .6vh;
    padding: 1vh;
    margin: 1vh;
    cursor: pointer;
}

#botao-menu{
    display: flex;
    color: white;
    height: 50%;
    font-size: 3vh;
    padding: 1vh;
    border:1px solid #1c9fff;
    border-radius: .6vh;

    z-index: 2;
    cursor: pointer;

    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #110c5e), color-stop(56%, #1c9fff), to(#cbf6ff));
    background: -o-linear-gradient(60deg, #110c5e 5%, #1c9fff 56%, #cbf6ff);

    background: linear-gradient(30deg, #110c5e 5%, #1c9fff 66%, #cbf6ff);
    background-size: 100% 100%;
}

.botao:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px 10px #029aff86;
}

#carrinhoLink {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 7vw;
}

#imagemcarrinho {
    height: 85%;
    border-radius: 1vh;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#imagemcarrinho:hover {
    transform: scale(1.1);
}

#botao-menu:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px 10px #029aff86;
}

#menu-retratil{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 60%;
    z-index: 2;
    top: 12vh; /* Posiciona o menu abaixo do cabeçalho */
    padding: 5%;
    display: none;
    backdrop-filter: saturate(100%) blur(30px);
    border: 1px solid rgb(0, 255, 208);
}

.caixa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    
    margin: 10vh;
    margin-bottom: 1.6vh;

    background-image: linear-gradient(to bottom, rgba(0, 179, 255, 0.2), rgba(0, 0, 255, 0)); 
    backdrop-filter: saturate(0%) blur(6px);
}

.caixa p{
    align-self: center;
}


.botao-add-carrinho {
    border: none;
    color: rgb(0, 0, 0);
    padding: 1vh 2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    margin-top: 8%;
    margin-left: 1vh;
    cursor: pointer;
    border-radius: 0.6vh;

    z-index: 5;

    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #06b600), color-stop(56%, #1fff6a), to(#cbffdb));
    background: -o-linear-gradient(60deg, #06b600 5%, #1fff6a 56%, #cbffdb);

    background: linear-gradient(30deg, #06b600 5%, #1fff6a 66%, #cbffdb);
    background-size: 100% 100%; 
}

.botao-add-carrinho:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 2px #00ff4c86;
}

.produto{
    display: flex;
    flex-direction: column;
    border:1px solid rgb(0, 255, 208);
    color: white;
    width: 19%;
    height: 24vw; 
    margin:0.5%;
    border-radius: 10px;

    background-image: linear-gradient(to bottom, rgba(33, 182, 246, 0.3), rgba(0, 0, 255, 0)); 
}

.imagem{
    display: flex;
    justify-content: center;
    min-height: 60%;
    min-width: 100%;
}

.imagem img {
    max-width: 100%; 
    height: auto;
    border-radius: 10px 10px 0 0; 
    border-bottom: 1px solid rgb(0, 255, 208);
}

.informacoes {
    padding: 1vh;
}

.informacoes h3 {
    font-size: 2.5vh;
    margin-bottom: 1vh;
}

.informacoes p {
    font-size: 2vh;
}


/*------------------------------------------------------*/

#paginacao{
    display: flex;
    justify-content: center;
    margin-bottom: 1.6vh;
}

.botao-pagina{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 2.5vh;
    padding: 1.6vh;
    border:1px solid #1c9fff;
    border-radius: .6vh;

    margin-bottom: 1.6vh;

    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #110c5e), color-stop(56%, #1c9fff), to(#cbf6ff));
    background: -o-linear-gradient(60deg, #110c5e 5%, #1c9fff 56%, #cbf6ff);

    background: linear-gradient(30deg, #110c5e 5%, #1c9fff 66%, #cbf6ff);
    background-size: 100% 100%;
}

.botao-pagina:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 2px #029aff86;
}

select option{
    color: black;
}

/*------------------------------------------------------*/

.footer{
    display: flex;
    flex-direction: column;
    backdrop-filter: saturate(100%) blur(30px);
    width: 100%;
    justify-content: center;
}

.footer img{
    position: absolute;
    width: 10%;
    align-self: left;
    margin-top: 1.6vh;
    margin-left: 7%;
}

.rodape{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 1vh;
    font-weight: 500;
    text-align: center;
    align-items: center;
    padding-top: 1.6vh;
}

.rodape p{
    margin-bottom: 1.6vh;
    max-width: 50%;
}

.politica{
    display: flex;
    justify-content: space-between;
    color: #1c9fff;
    font-size: 1.5vh;
    font-weight: 500;
    text-align: center;
    padding-top: 1.6vh;
    padding-bottom: 1.6vh;
    padding-left: 35%;
    padding-right: 35%;
}