*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
    
}
/*---------------------------------------------------------------------------------------------*/

#mensagemNaoEncontrado{
    color: white;
    text-align: center; 
    font-size: 5vw;

}

#cabeca{
    display: flex;
   
    justify-content: space-between;
    height: 12vh;
    background-image: url('https://tm.ibxk.com.br/2016/02/15/15191853192732.jpg?ims=1280x480');
    background-size: cover;
    position: relative;
}

#lojaLink{
    height: 100%;
}

#logoacabeca{
    height: 100%;
}

#alinhadireita{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;

   
    width: 70%;
    
    
}
#caixa-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.4%;
    border-radius: 1vh;
    
 
    min-height: 35%;
    
    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #110c5e), color-stop(56%, #1c9fff), to(#cbf6ff));
    background: -o-linear-gradient(60deg, #110c5e 5%, #1c9fff 56%, #cbf6ff);

    box-shadow: 0px 0px 50px 10px #029aff86;


    background: linear-gradient(30deg, #110c5e 5%, #1c9fff 66%, #cbf6ff);
    background-size: 100% 100%; 
}


#lupa {
    
    border: none;
    background: none;
    padding: 0; 
    cursor: pointer;
    
}

#caixaLogin{
    display: flex;
    flex-direction: column;
    padding: 1%;
 
}
#bemVindo{
    color: white;
}
.botao{
    
    color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #110c5e), color-stop(56%, #1c9fff), to(#cbf6ff));
    background: -o-linear-gradient(60deg, #110c5e 5%, #1c9fff 56%, #cbf6ff);

    box-shadow: 0px 0px 50px 10px #029aff86;


    background: linear-gradient(30deg, #110c5e 5%, #1c9fff 66%, #cbf6ff);
    background-size: 100% 100%; 

}
.botao:hover {
    transform: scale(1.1);
}

#carrinhoLink {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 7vw;
  
}

#imagemcarrinho {
    height: 85%;
    border-radius: 1vh;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
#imagemcarrinho:hover {
    transform: scale(1.1);
}
#botao-menu{
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 3vh;
    padding: 1vh;
    border:1px solid #1c9fff;
    border-radius: .6vh;

    z-index: 2;
    cursor: pointer;

    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #110c5e), color-stop(56%, #1c9fff), to(#cbf6ff));
    background: -o-linear-gradient(60deg, #110c5e 5%, #1c9fff 56%, #cbf6ff);

    box-shadow: 0px 0px 50px 10px #029aff86;


    background: linear-gradient(30deg, #110c5e 5%, #1c9fff 66%, #cbf6ff);
    background-size: 100% 100%;

}
#botao-menu:hover {
    transform: scale(1.1);
}

#menu-retratil{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 100%; /* Posiciona o menu abaixo do cabeçalho */
    right: 0;
    padding: 5%;
    display: none;
    backdrop-filter: saturate(100%) blur(30px);
}


#primeira{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: black;
    align-items: center;
    justify-content: center;
    background-image: url('https://s3.1app.com.br/master/project_5945/5eEsy3Ca9FXh06oK7e7qvnzT71DkOdL1.jpg');
    background-size: contain;
}

.caixa{
    display: flex;
    flex-wrap: wrap;

   
    
    width: 170vh;
    margin: 2vw 2vw 2vw;

    background-image: linear-gradient(to bottom, rgba(0, 179, 255, 0.2), rgba(0, 0, 255, 0)); 
    backdrop-filter: saturate(0%) blur(6px);
    
    
}
.botao-add-carrinho {
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 8%;
    cursor: pointer;
    border-radius: 5px;

    z-index: 5;

    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #06b600), color-stop(56%, #1fff6a), to(#cbffdb));
    background: -o-linear-gradient(60deg, #06b600 5%, #1fff6a 56%, #cbffdb);

    box-shadow: 5px 2px 30px 10px #48ff1b86;


    background: linear-gradient(30deg, #06b600 5%, #1fff6a 66%, #cbffdb);
    background-size: 100% 100%; 
}
.botao-add-carrinho:hover {
    transform: scale(1.05);
}

.produto{
    display: flex;
    flex-direction: column;
    border:1px solid rgb(0, 255, 208);
    color: white;
    width: 19%;
    height: 24vw; 
    margin:0.5%;
    border-radius: 10px;

    background-image: linear-gradient(to bottom, rgba(33, 182, 246, 0.3), rgba(0, 0, 255, 0)); 

}
.imagem{
    display: flex;
    justify-content: center;
    min-height: 60%;
    min-width: 100%;
}
.imagem img {
    max-width: 100%; 
    height: auto;
    border-radius: 10px 10px 0 0; 
    border:1px solid rgb(255, 238, 0);
}

.informacoes {
    padding: 10px;
}




#esquerdaPrimeira{
    display: flex;
    border:1px solid red;
    margin: 0px;
    min-height: 100vh;
    min-width: 50%;
    align-items: center;
    justify-content: center;

}
#caixavidro{
    display: flex;
    flex-direction: column;
    font-size: 4.7vh;
    width: 80%;
    height: 90%;
    border-radius: 30px;
    align-items: center;
    justify-content:space-around;
    padding: 2vh 1vw 3vh;
    

    backdrop-filter: saturate(100%) blur(30px);
}
#direitaPrimeira{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border:1px solid rgb(55, 0, 255);
    margin: 0px;
    min-height: 100vh;
    min-width: 50%;
}


        @media screen and (orientation: portrait)/*----------------------------------------------ajustes mobile-------------------------------------*/
        {
        #primeira{ /*height:200vh;*/height: 150vh;}

        .caixa{flex-direction: column;}

        #caixavidro{width: 96%;}

        #direitaPrimeira{min-height: 50vh;}
        
        .botao{}


        }

/*------------------------------------------------------*/
#paginacao{
    display: flex;
    justify-content: center;

}


/*---------------------------------------------------------------------------------------------*/
